{{!-- /*************************************************************************
* BTI325– Assignment 5
* for this assignment, I took the help of my Friend kush while doing the assignment.
*
* Name: Samarth Modi Student ID: 133357202 Date: 27-11-2022
*
* Your app’s URL (from Cyclic Heroku) that I can click to see your application:
* https://dead-cyan-millipede-tutu.cyclic.app/
*************************************************************************/  --}}

<div class="row">
    <div class="col-md-12">
        <h2>Add Department</h2>
        <br />

        <form method="post" action="/departments/add">
        <div class="row">
            <div class="col-mid-6">
                <div class="form-group">
                    <label for="departmentName">Department Name:</label>
                    <input class="form-control" id="departmentName" name="departmentName" type="text"/>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="Add Department"/><br /><br />
    </form>
</div>
</div>