{{!-- /*************************************************************************
* BTI325– Assignment 5
* for this assignment, I took the help of my Friend kush while doing the assignment.
*
* Name: Samarth Modi Student ID: 133357202 Date: 27-11-2022
*
* Your app’s URL (from Cyclic Heroku) that I can click to see your application:
* https://dead-cyan-millipede-tutu.cyclic.app/
*************************************************************************/  --}}

<div class="row">
    <div clas="col-mid-12">
        <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
        <hr>
        <form method="post" action="/department/update">
            <input type="hidden" name="departmentId" value={{department.departmentId}}>
            <div class = "row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departmentName">Department: </label>
                        <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{department.departmentName}}">
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary pull-right" value = "Update Department"/>
            <br>
            </form>
    </div>
</div>